extends _layout.pug
block head
    title Log in - Drafty

block content
    #app
        h1.mx-3 Log in
        form(method='post')
            div.mt-3.mb-3.form-floating
                input.form-control(
                    type="text"
                    id="username-input"
                    name="username"
                    placeholder="Username"
                    v-model="username"
                )
                label(:for="username-input") Username
            div.mb-1.form-floating
                input.form-control(
                    :type="showPassword?'text':'password'"
                    id="password-input"
                    name="password"
                    placeholder="Password"
                    v-model="password"
                )
                label(:for="username-input") Password
            .form-check.mb-3
                label.form-check-label Show password?
                    input.form-check-input(type="checkbox" v-model="showPassword")
            .d-grid.mb-3
                button.btn.btn-primary.btn-lg(type="submit" :disabled="username.length == 0 || password.length == 0") Log in
            p.mb-1
                a.link-primary(href="password/forgot") Forgot password?
            p
                span Don't have account? 
                a.link-primary.bold(href="/register") Sign up!
block scripts
    script(src="/static/scripts/login.js")