extends _layout.pug

block head
    title Create account - Drafty

block content
    #app
        h1 Create account
        form(method='post')
            validated-textbox.mt-3.mb-3(
                type="text",
                placeholder="Username",
                name="username",
                :validator="validateUsername",
                @validation-changed="validUsername = $event"
            )
            validated-textbox.mb-3(
                :type="email",
                placeholder="Email",
                name="email",
                :validator="validateEmail",
                @validation-changed="validEmail = $event"
            )
            validated-textbox.mb-3(
                :type="showPassword?'text':'password'",
                placeholder="Password",
                name="password",
                :validator="validatePassword",
                v-model="password",
                @validation-changed="validPassword = $event"
            )
            validated-textbox.mb-3(
                :type="showPassword?'text':'password'",
                placeholder="Confirm Password",
                name="confirm"
                :validator="confirmPasswordValidation",
                @validation-changed="validConfirmPassword = $event"
            )
            .form-check.mb-3
                label.form-check-label Show password
                    input.form-check-input(type="checkbox" v-model="showPassword")
            .d-grid
                button.btn-lg.btn-block(type="submit" class="btn btn-primary" :disabled="!validUsername || !validPassword || !validConfirmPassword") Create account
block scripts
    script(src="/static/scripts/register.js")